#container {
	width: 100vw;
	height: auto;
}

/*

	Navigation Bar / Top Bar

*/

.navigation {
	width: 100%;
	height: 72px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	position: fixed;
}

.navigation > .logo-img {
	float: left;
}

.nav-bar {
	width: auto;
	height: 100%;
	float: left;
	margin-left: 10px;
}

.nav-bar > .nav-item {
	width: auto;
	height: 100%;
	margin-left: 30px;
	display: inline-block;
}

.nav-bar > .active-item {
	border-bottom: 1px solid #00ACF6;
}

.nav-bar > .non-active:hover {
	border-bottom: 1px solid #5C5C5C;
	transition: .4s;
}

.nav-bar > .non-active:hover > a {
	color: #5C5C5C;
	transition: .4s;
}

.nav-bar > .nav-item > a {
	line-height: 71px;
	vertical-align: middle;
}

.balance { 
	width: auto;
	height: 100%;
	float: right;
}

.balance-box {
	width: auto;
	height: 100%;
	padding: 26px 0px 26px 14px;
	box-sizing: border-box;
	float: right;
}

.balance-box > img,p {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.balance-box > img {
	width: 19px;
	height: 19px;
}

.balance-box > p {
	margin-left: 8px;
}

.balance-button {
	float: right;
	width: 110px;
	height: 30px;
	background: #00ACF6;
	border-radius: 4px;
	border: none;
	margin-top: 20px;
	color: white;
	margin-left: 16px;
	margin-right: 20px;
}

.user-box {
	width: 100px;
	height: 100%;
	float: right;
	background: #FFFFFF;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	padding: 17px 17px 17px 17px;
	box-sizing: border-box;
	cursor: pointer;
}

.user-box > img {
	display: inline;
	vertical-align: middle;
}

.user-box > .down-arrow {
	margin-left: 10px;	
}

.user-box:hover {
	background: linear-gradient(180deg, #FFFFFF 0%, #E3F5FC 100%);
	transition: .2s;
	border-bottom: 1px solid #00ACF6;
}

.actions-wrapper {
	width: auto;
	height: 100%;
	float: right;
	padding: 24px 12px 24px 12px;
	box-sizing: border-box;
}

.actions-wrapper > img {
	padding: 0px 6px 0px 6px;
	cursor: pointer;
}


/*

	Left Bar

*/

.left-bar {
	width: 79px;
	height: 100vh;
	background: #FFFFFF;
	border-right: 1px solid #EEEEEE;
	position: fixed;
	top: 73px;
}


.left-bar-box {
	width: 100%;
	height: 78px;
	background: red;
	padding: 24px;
	box-sizing: border-box;
	background: #FCFCFC;
	cursor: pointer;
}

.play-button {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 39px;
	height: 39px;
	background: linear-gradient(180deg, #74D5FF 0%, #00ACF6 100%);
	border: 1px solid #52CBFF;
	border-radius: 4px;
	text-align: center;
	padding: 11px 0px 11px 0px;
	box-sizing: border-box;
	cursor: pointer;
	transition: .3s;
}

.play-button:hover {
	box-shadow: 0px 1px 22px rgba(35, 180, 242, 0.9);
	transition: .3s;
}


.play-button:hover > img {
	transform: rotate(360deg);
	transition: .3s;
}

.helper {
	position: absolute;
	left: 0px;
	width: 4px;
	height: 20px;
	background: #605BCD;
	margin-top: 5px;
}

/*

	Page Deffinition / Paddings

*/

.content-wrapper-outside {
	width: 100%;
	height: auto;
	padding-top: 73px;
	padding-left: 80px;
	box-sizing: border-box;
}

.page-content {
	width: 1420px;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

/*

	Game Header	

*/

.game-header {
	width: 100%;
	height: 166px;
	background-image: url("../images/game-header.png");
}

.top-header {
	width: 100%;
	height: 107px;
	padding: 32px;
	box-sizing: border-box;
}

.game-title {
	width: auto;
	height: 100%;
	float: left;
}

.game-title > img,p { display: inline-block; vertical-align: middle; }

.game-title > img { margin-top: -15px; }
.game-title > p { margin-left: 16px; margin-top: -10px;}

.game-actions {
	width: auto;
	height: 100%;
	float: right;
}

.quick-play {
	width: 179px;
	height: 43px;
	background: #1BB2F2;
	border: 1px solid #27BEFF;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.quick-play > p {
	margin-left: 29px;
	margin-top: 12px;
}

.play-wrapper {
	width: 43px;
	height: 42px;
	background: #27BEFF;
	border: 1px solid #27BEFF;
	box-sizing: border-box;
	border-radius: 5px;
	float: left;
	text-align: center;
	padding: 12px 0px 12px 0px;
	cursor: pointer;
}

.game-account {
	width: 178px;
	height: 43px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	float: right;
	padding: 12px;
	box-sizing: border-box;
}

.game-account > .game-logo {
	width: 18px;
	height: 18px;
}

.game-account > .game-logo,.account-name {
	display: inline-block;
	vertical-align: middle;
}

.game-account > .game-logo { margin-top: -2px; }
.game-account > .account-name { margin-top: -2px; margin-left: 6px; }

.game-account > .game-arrow { float: right; margin-top: 4px; }

.bottom-header {
	width: 100%;
	height: 59px;
	padding: 0px 0px 19px 32px;
	box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.info-tile {
	width: 500px;
	height: 40px;
	background: #4845AE;
	border: 1px solid #635FE8;
	box-sizing: border-box;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.11);
	border-radius: 23px;
	display: inline-block;
}