#container {
	width: 100vw;
	height: auto;
	overflow-x: hidden;
}

/*

	Navigation Bar / Top Bar

*/

.navigation {
	width: 100%;
	height: 72px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	position: fixed;
	z-index: 10;
}

.navigation > .logo-img {
	float: left;
}

.nav-bar {
	width: auto;
	height: 100%;
	float: left;
	margin-left: 10px;
}

.nav-bar > .nav-item {
	width: auto;
	height: 100%;
	margin-left: 30px;
	display: inline-block;
}

.nav-bar > .active-item {
	border-bottom: 1px solid #00ACF6;
}

.nav-bar > .non-active:hover {
	border-bottom: 1px solid #5C5C5C;
	transition: .4s;
}

.nav-bar > .non-active:hover > a {
	color: #5C5C5C;
	transition: .4s;
}

.nav-bar > .nav-item > a {
	line-height: 71px;
	vertical-align: middle;
}

.balance { 
	width: auto;
	height: 100%;
	float: right;
}

.balance-box {
	width: auto;
	height: 100%;
	padding: 26px 0px 26px 14px;
	box-sizing: border-box;
	float: right;
}

.balance-box > img,p {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.balance-box > img {
	width: 19px;
	height: 19px;
}

.balance-box-cash > img {
	width: 10px;
}

.balance-box > p {
	margin-left: 8px;
}

.balance-button {
	float: right;
	width: 110px;
	height: 30px;
	background: #00ACF6;
	border-radius: 4px;
	border: none;
	margin-top: 20px;
	color: white;
	margin-left: 16px;
	margin-right: 20px;
}

.user-box {
	width: 100px;
	height: 100%;
	float: right;
	background: #FFFFFF;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	padding: 17px 17px 17px 17px;
	box-sizing: border-box;
	cursor: pointer;
}

.user-box > img {
	display: inline;
	vertical-align: middle;
}

.user-box > .down-arrow {
	margin-left: 10px;	
}

.user-box:hover {
	background: linear-gradient(180deg, #FFFFFF 0%, #E3F5FC 100%);
	transition: .2s;
	border-bottom: 1px solid #00ACF6;
}

.actions-wrapper {
	width: auto;
	height: 100%;
	float: right;
	padding: 24px 12px 24px 12px;
	box-sizing: border-box;
}

.actions-wrapper > img {
	padding: 0px 6px 0px 6px;
	cursor: pointer;
}


/*

	Left Bar

*/

.left-bar {
	width: 79px;
	height: 100vh;
	background: #FFFFFF;
	border-right: 1px solid #EEEEEE;
	position: fixed;
	top: 73px;
}


.left-bar-box {
	width: 100%;
	height: 78px;
	background: red;
	padding: 24px;
	box-sizing: border-box;
	background: #FCFCFC;
	cursor: pointer;
}

.play-button {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 39px;
	height: 39px;
	background: linear-gradient(180deg, #74D5FF 0%, #00ACF6 100%);
	border: 1px solid #52CBFF;
	border-radius: 4px;
	text-align: center;
	padding: 11px 0px 11px 0px;
	box-sizing: border-box;
	cursor: pointer;
	transition: .3s;
}

.play-button:hover {
	box-shadow: 0px 1px 22px rgba(35, 180, 242, 0.9);
	transition: .3s;
}


.play-button:hover > img {
	transform: rotate(360deg);
	transition: .3s;
}

.helper {
	position: absolute;
	left: 0px;
	width: 4px;
	height: 20px;
	background: #605BCD;
	margin-top: 5px;
}

/*

	Page Deffinition / Paddings

*/

.content-wrapper-outside {
	width: 100%;
	height: auto;
	padding-top: 73px;
	padding-left: 80px;
	box-sizing: border-box;
}

.page-content {
	width: 1420px;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

/*

	Game Header	

*/

.game-header {
	width: 100%;
	height: 166px;
	background-image: url("../images/game-header.png");
}

.top-header {
	width: 100%;
	height: 100px;
	padding: 32px;
	box-sizing: border-box;
}

.game-title {
	width: auto;
	height: 100%;
	float: left;
}

.game-title > img,p { display: inline-block; vertical-align: middle; }

.game-title > img { margin-top: -15px; }
.game-title > p { margin-left: 16px; margin-top: -10px;}

.game-actions {
	width: auto;
	height: 100%;
	float: right;
}

.quick-play {
	width: 179px;
	height: 43px;
	background: #1BB2F2;
	border: 1px solid #27BEFF;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.quick-play > p {
	margin-left: 29px;
	margin-top: 12px;
}

.play-wrapper {
	width: 43px;
	height: 42px;
	background: #27BEFF;
	border: 1px solid #27BEFF;
	box-sizing: border-box;
	border-radius: 5px;
	float: left;
	text-align: center;
	padding: 12px 0px 12px 0px;
	cursor: pointer;
}

.game-account {
	width: 178px;
	height: 43px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	float: right;
	padding: 12px;
	box-sizing: border-box;
}

.game-account > .game-logo {
	width: 18px;
	height: 18px;
}

.game-account > .game-logo,.account-name {
	display: inline-block;
	vertical-align: middle;
}

.game-account > .game-logo { margin-top: -2px; }
.game-account > .account-name { margin-top: -2px; margin-left: 6px; }

.game-account > .game-arrow { float: right; margin-top: 4px; }

.bottom-header {
	width: 100%;
	height: 66px;
	padding: 0px 0px 19px 32px;
	box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.bottom-header::-webkit-scrollbar {
  height: 5px; 
  background: #2C2A96;
}

.bottom-header::-webkit-scrollbar-thumb {
  background: #6865DF;
}


.info-tile {
	width: auto;
	height: 40px;
	background: #4845AE;
	border: 1px solid #635FE8;
	box-sizing: border-box;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.11);
	border-radius: 23px;
	display: inline-block;
	padding: 9px 15px 9px 15px;
}

.main-tile {
	background: #635FE8;
}

.info-tile > .info-img,.info-text {
	display: inline-block;
	vertical-align: middle;
}

.info-tile > .info-text {
	margin-top: -2px;
	margin-left: 5px;
}

.data-text {
	margin-left: 21px;
}

.margin-tile {
	margin-left: 15px;
}

.data-text > .coins-icon {
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 8px;
}

/*

	Advertisments	

*/

.graphics-wrapper {
	width: 100%;
	height: 165px;
	box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
}

.graphics-wrapper::-webkit-scrollbar {
  height: 4px; 
  background: #EBEBEB;
  border-radius: 4px;
}

.graphics-wrapper::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 4px;
}

.graphics-wrapper > img {
	cursor: pointer;
	margin-left: 18px;
}

.graphics-wrapper > img:nth-child(1) {
	margin-left: 0px;
}

/*

	Filters	

*/

.filters-wrapper {
	width: 100%;
	height: 70px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;	
	margin-top: 20px;
}

.search-box {
	width: auto;
	height: 100%;
	padding: 24px 28px 24px 28px;
	box-sizing: border-box;
	float: left;
}

.search-box > .search-icon {
	display: inline-block;
	vertical-align: middle;
}

.search-box > input {
	width: 50px;
	height: 20px;
	border: none;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-family: Mon-Medium;
	font-size: 12px;
	color: #5C5C5C;
}

.search-box > input::placeholder {
	font-size: 12px;
	font-family: Mon-Medium;
	color: #A1A1A1;
}

.filter-box {
	width: auto;
	height: 100%;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	padding: 16px;
	box-sizing: border-box;
	float: left;
	cursor: pointer;
	margin-left: -1px;
}

.filter-box {
	line-height: 125%;
}

.filter-arrow {
	margin-left: 15px;
}

.filter-box:hover {
	background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
}

.mar-fix {
	margin-top: 11px;
}

.buttons-wrapper {
	width: auto;
	height: auto;
	float: right;
	padding: 16px 20px 16px 20px;
}

.list-view-btn {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.box-view-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.section-title {
	width: 100%;
	height: auto;
	padding: 20px 10px 20px 10px;
	box-sizing: border-box;
}


/*

	Table-Top	

*/


.table-top {
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	padding: 11px 20px 11px 20px;
	box-sizing: border-box;
}

.contest-name {
	float: left;
}

.entries {
	float: right;
	margin-right: 82px;
}

.entry-fee {
	float: right;
	margin-right: 40px;
}

.prize-pool {
	float: right;
	margin-right: 35px;
}

.ends-in {
	float: right;
	margin-right: 38px;
}

.registartion {
	float: right;
	margin-right: 95px;
}


/*

	Tournament Tile	

*/


.tournament-tile {
	width: 100%;
	height: 80px;
	padding: 19px 23px 19px 23px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-top: none;
	box-sizing: border-box;
	border-left: 3px solid #605BCD;
	transition: .2s ease;
}

.tournament-logo {
	float: left;
}

.tournament-details {
	width: auto;
	height: 100%;
	float: left;
}

.tournament-name {
	width: 100%;
	height: 45%;
	float: left;
	margin-left: 16px;
}

.tournament-filters {
	width: 100%;
	height: 55%;
	float: left;
	margin-left: 16px;
}

.tournament-filters > ul {
	width: 100%;
	height: 100%;
	margin-top: 3px;
}

.tournament-filters > ul > li {
	width: auto;
	height: 100%;
	margin-left: 10px;
	display: inline-block;
}

.tournament-filters > ul > li:first-child {
	margin-left: 0px;
}

.tournament-filters > ul > li > img {
	display: inline-block;
	vertical-align: middle;
}

.tournament-filters > ul > li > p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}

.tournament-statistics {
	width: auto;
	height: 100%;
	float: right;
}

.tournament-statistics > li { display: inline-block; vertical-align: middle;}

.tournament-entries {
	width: 126px;
	height: 100%;
}

.entries-bar {
	width: 95px;
	height: 4px;
	background: #F1F1F1;
	border-radius: 4px;
	margin-top: 12px;
}

.entries-progress {
	width: 47px;
	height: 100%;
	border-radius: 4px;
	background: #00ACF6;
}

.tournament-fee {
	width: 91px;
	height: 100%;
	padding: 8px 0px 8px 0px;
	box-sizing: border-box;
}

.tournament-fee > img, p {display: inline-block; vertical-align: middle;}
.tournament-fee > p { margin-left: 8px; }

.tournament-ending  {
	width: 80px;
	height: 100%;
	padding: 7px 0px 7px 0px;
	box-sizing: border-box;
}

.tournament-registration {
	width: 80px;
	height: 100%;
	padding: 7px 0px 7px 0px;
	box-sizing: border-box;

}

.tournament-registration > p {
	margin-left: 3px;
}

.tournament-button {
	width: 83px;
	height: 30px;
	background: #00ACF6;
	border-radius: 10px;
	float: right;
	margin-top: 6px;
	cursor: pointer;
	text-align: center;
	padding: 4px 0px 4px 0px;
	box-sizing: border-box;
	transition: .2s ease;
}

.tournament-button:hover { 
	background: #605BCD;
	transition: .2s ease;
 }

.tournament-button > img,p { display: inline-block; vertical-align: middle; }
.tournament-button > img { margin-left: 2px; }

.tournament-tile:hover {
	background: linear-gradient(90deg, #E3E2F6 0%, #FFFFFF 100%);
	border-left: 6px solid #605BCD;
	transition: .2s ease;
}

.sponsor-pic {
	float: left;
	margin-left: 14px;
}

.tournament-community {
	border-left: 3px solid #F1841F;	
}


.tournament-community:hover {
	background: linear-gradient(90deg, #FFE7D0 0%, #FFFFFF 100%);
	border-left: 6px solid #F1841F;
	transition: .2s ease;
}

.tournament-community > .tournament-statistics > .tournament-button:hover {
	background: #F1841F;
	transition: .2s ease;
}

.tournament-sponsored {
	border-left: 3px solid #01D387;	
}

.tournament-sponsored:hover {
	background: linear-gradient(90deg, #C9FFEB 0%, #FFFFFF 100%);
	border-left: 6px solid #01D387;
	transition: .2s ease;
}

.tournament-sponsored > .tournament-statistics > .tournament-button:hover {
	background: #01D387;
	transition: .2s ease;
}

.tournament-type-community {
	width: auto;
	height: 21px;
	background: rgba(241, 132, 31, 0.1);
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

.tournament-type-sponsored {
	width: auto;
	height: 21px;
	background: rgba(1, 211, 135, 0.1);
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -3px;
	text-align: center;
	padding: 0px 10px 0px 10px;
}